.editor {
  box-sizing: border-box;
  height: 100%;
  width: 50%; /* Change this line */
  padding: 20px;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #272822;
}

.editor-label {
  font-weight: bold;
  color: #f8f8f2;
}

.editor-copy-btn {
  cursor: pointer;
}

.editor-copy-icon {
  color: #f8f8f2;
  font-size: 2rem;
}
.CodeMirror-lines {
  text-align: left !important;
}
